* text=auto

*.py text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.cff text eol=lf
*.txt text eol=lf

*.tif binary
*.shp binary
*.shx binary
*.dbf binary
*.prj text eol=lf
*.cpg text eol=lf
